body {
	font-family: Roboto;
	background: #f8f9fa;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}


.completed {
	text-decoration: line-through;
	color: gray;
}


#appContainer{
	margin-top: 5em;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05)
}